<!DOCTYPE html>
<html>

<head>
    <title>Todos to do</title>
</head>
<style>
    #todoItem {
        list-style: none;
        width: 100%;
        height: 90px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
    }

    #todoItem>li {
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: red;
    }
</style>

<body>
    <h1>My Todos</h1>
    <ul>
        <% todos.forEach(function(todo){ %>
            <li>
                <p>
                    <%= todo.name %>
                </p>
                <p>
                    <%= todo.done %>
                </p>
                <p>
                    <button
                        onclick="fetch('/toggle', {method: 'POST', 
                                           headers: {'Content-Type': 'application/json'},
                                           body: JSON.stringify({id: '<%= todo.id %>'})}).then(() => window.location.reload());">Toggle</button>
                    <% }); %>
                </p>
            </li>
    </ul>
    <form action="/action_page.php">
        <label for="newName">New item name:</label>
        <input type="text" id="newName" name="fname"><br><br>
        <input type="submit" value="Submit" onclick="fetch('/newItem', {method: 'POST', 
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(this.Text).then(() => window.location.reload());">
    </form>
</body>

</html>