<!DOCTYPE html>
<html>

<head>
    <title>Todos to do</title>
</head>

<body>
    <h1>My Todos</h1>
    <hr style="height:2px;border-width:0;color:black;background-color:gray">
    <ul>
        <% todos.forEach(function(todo){ %>
            <li>
                <p>
                    <%= todo.name %>
                </p>
                <p>
                    Done: <%= todo.done %>
                </p>
                <p>
                    <button
                        onclick="fetch('/toggle', {method: 'POST', 
                                           headers: {'Content-Type': 'application/json'},
                                           body: JSON.stringify({id: '<%= todo.id %>'})}).then(() => window.location.reload());">Toggle</button>
                    <% }); %>
                </p>
            </li>
    </ul>
    <hr style="height:2px;border-width:0;color:black;background-color:gray">
    <p>
        <label for="newName">New item name:</label>
        <input type="text" id="newName" name="fname"><br><br>
        <button
            onclick="fetch('/newItem', {method: 'POST', 
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({name: document.getElementById('newName').value})}).then(() => window.location.reload());">
            Create new item </button>
    </p>
</body>


</html>